body{
    background-color: #faf1c8cb;
}

.navbar{
    width: 600px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;
}

.container{
    
    font-family: Verdana, sans-serif;
    width: 110%;
    margin: auto;

}

/*
.title1{
    text-align: center;
}
*/

img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.ingredients{
    display: block;
    margin: 50px;
}

